* {
  font-family: sans-serif;
  box-sizing: border-box !important;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  width: 70%;
  border: 1px solid black;
  padding: 20px 40px;
  display: flex;
  justify-content: space-around;
}
.main-heading {
  text-align: center;
}

.input-elements-wrapper,
.display-values-container {
  width: 40%;
}

.input-elements-wrapper div {
  width: 100%;
}

.input-elements-wrapper input,
button {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(175, 175, 175, 0.477);
  border-radius: 5px;
}

.input-elements-wrapper input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.input-elements-wrapper button {
  background-color: #1d2e37;
  color: #fbfefc;
  cursor: pointer;
}

.input-elements-wrapper button:hover {
  background-color: #0f384c;
}

.input-elements-wrapper button:active {
  background-color: #264150;
}

.display-values-container div {
  width: 100%;
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(175, 175, 175, 0.477);
}

.display-values-container div span {
  font-weight: bold;
  font-size: 20px;
}

#amount-to-pay-display {
  color: red;
}

#amount-left-display,
#hourly-rate-display {
  color: green;
}
